/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid green;
}

/* VARIABLES */
:root {
  --primary-background: #010101;
  --secondary-background: #232427;
  --secondary-background-selected: #4b4d4f;
  --alarm-color: #fe564c;
  --action-color: #4bc800;
  --primary-text: #ffffff;
  --secondary-text: #dcdcdc;
  --navigation-color-unselected: #7f7f7f;
  --navigation-color-selected: #2ebaff;
  --participant-detail-background: rgba(0, 0, 0, 0.8);
}

/* CLASSES */

/* ELEMENTS */

/* MODIFIERS */
